.page {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.login {
	width: 400px;
	margin: 240px auto 0;
	&__header {
		text-align: center;
		&-title {
			font-size: 36px;
			color: rgb(0 0 0 / 100%);
		}
		&-description {
			margin-top: 8px;
			font-size: 14px;
			color: rgb(0 0 0 / 50%);
		}
	}
	&__body {
		margin-top: 16px;
	}
}
